<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="24.2.1" targetFramework="net472" />
  <package id="DevExpress.Drawing" version="24.2.1" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="24.2.1" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="24.2.1" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="24.2.1" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="24.2.1" targetFramework="net472" />
</packages>